h1 {
    background-color: rgb(0, 38, 255);
    color: honeydew;
    text-align: center;
    font-family: "Brush Script MT", monospace;
    font-size: 40px;
}

img {
    height: 300px;
    width: 300px;
}

h2,
h3,
h4, {
    font-family: "Brush Script MT", monospace;
    font-size: 30px;
}

p, 
ul {
    font-family: "Brush Script MT", monospace;
    font-size: 16px;
}





